$mu-classes-margin: 20px;

.mu-classes {
  position: relative;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  svg {
    z-index: 0;
    width: calc(100% - #{$mu-classes-margin});
    height: 100%;
    position: absolute;
    margin-left: $mu-classes-margin / 2;
  }
  &[data-show-var-types="false"] {
    .mu-classes-type {
      display: none;
    }
  }
  &[data-show-return="false"] {
    .mu-classes-return {
      display: none;
    }
  }
  &[data-show-var-types="false"] {
    .mu-classes-kind {
      display: none;
    }
  }
}

.mu-classes-entity {
  z-index: 1;
  margin: $mu-classes-margin;
  width: auto;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: $mu-component-border;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  .mu-classes-type,
  .mu-classes-return {
    color: $mu-color-fk;
    font-weight: bold;
  }
  .mu-classes-param {
    color: $mu-color-primary;
  }
}

.mu-classes-entity-name {
  padding: 5px 10px;
  list-style: none;
  text-align: center;
  border-bottom: $mu-component-border;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: $mu-color-component-title-background;
  position: relative;
  margin: 0;
  .mu-classes-kind {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background: $mu-color-fk;
    padding: 2px 9px 0px;
    border-radius: 50%;
    margin-right: 5px;
    left: 6px;
    top: 5px;
    line-height: 1.4;
    transform: scale(0.75);
  }
}

.mu-classes-entity-attributes {
  font-size: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  .mu-classes-entity-attribute {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    padding: 4px 8px;
    flex-flow: row;
    justify-content: space-between;
    &:last-child {
      border-bottom:  1px dashed $mu-color-component-border;
    }
    .mu-classes-entity-attribute-name {
      text-align: left;
    }
  }
}

.mu-classes-entity-messages {
  font-size: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  .mu-classes-entity-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    padding: 4px 8px;
    flex-flow: row;
    justify-content: space-between;
    .mu-classes-entity-message-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
    }
  }
}
