$mu-erd-margin: 20px;
$mu-color-pk: rgb(196, 173, 44);
$mu-color-fk: rgb(184, 184, 184);

.mu-erd {
  position: relative;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  svg {
    z-index: 0;
    width: calc(100% - #{$mu-erd-margin});
    height: 100%;
    position: absolute;
    margin-left: $mu-erd-margin / 2;
  }
}

.mu-erd-entity {
  z-index: 1;
  margin: $mu-erd-margin;
  width: 250px;
  min-width: 250px;
  border: $mu-component-border;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.mu-erd-entity-name {
  padding: 5px 10px;
  list-style: none;
  text-align: center;
  border-bottom: $mu-component-border;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: $mu-color-component-title-background;
  margin: 0;
}

.mu-erd-entity-columns {
  list-style: none;
  padding: 5px 10px;
  margin: 0;
  background-color: white;
  .mu-erd-entity-column {
    display: flex;
    padding: 5px 0;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 1px dashed $mu-color-component-border;
    &:last-child {
      border-bottom: none;
    }
    .mu-erd-entity-column-name {
      text-align: left;
      span {
        margin-left: 5px;
      }
      .mu-erd-pk { color: $mu-color-pk }
      .mu-erd-fk { color: $mu-color-fk }
      .mu-erd-pk,
      .mu-erd-fk {
        font-size: 75%;
      };
    }
    .mu-erd-entity-column-type {
      text-align: right;
    }
  }
}
