.mu-file-browser {
  width: 100%;
  position: relative;
  header {
    margin-bottom: 0;
    padding: 15px;
    border: $mu-component-border;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: $mu-color-component-title-background;
    @include display-flex(row nowrap, flex-start, center);
    i {
      cursor: pointer;
      font-size: 25px;
      margin-right: 10px;
      @extend .fas;
      @extend .fa-fw;
      @extend .fa-arrow-circle-left;
    }
    input {
      border: 1px solid $mu-color-component-border;
      padding: 0 10px;
      height: 30px;
      border-radius: 10px;
      width: 100%;
      &:focus { outline: none }
    }
  }
  main {
    border: $mu-component-border;
    border-top: none;
    margin-top: 0;
    ul {
      @include display-flex(row wrap, flex-start, flex-start);
      align-content: flex-start;
      list-style: none;
      padding: 0;
      margin: 0;
      left: 0;
      right: 0;
      min-height: 208px;
      overflow: hidden;
      li {
        @include display-flex(column, flex-start, flex-start);
        align-content: flex-start;
        margin: 5px;
        width: 100px;
        height: 100px;
        cursor: pointer;
        position: relative;
        &:not(:hover) {
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        i {
          color: $mu-color-darken-separator;
          padding: 6px 0;
          width: 70px;
          height: 70px;
          font-size: 64px;
          margin: auto;
          @extend .fa-fw;
          &.file {
            @extend .far;
            @extend .fa-file;
          }
          &.folder {
            @extend .fas;
            @extend .fa-folder;
          }
        }
        span {
          width: 100%;
          text-align: center;
        }
        &:hover {
          z-index: 10;
          color: white;
          i, span {
            position: absolute;
            background-color: transparentize(lighten($mu-color-primary, 10%), 0.25);
            width: 100%;
          }
          i {
            color: white;
          }
          span {
            top: 70px;
            height: auto;
          }
        }
      }
    }
  }
}
