$mu-header-height-md:  80px;
$mu-footer-height-md: 100px;
$mu-footer-height-sm: 200px;

header {
  height: $mu-header-height-md;
}

main {
  @media (min-width: $mu-md-min) {
    min-height: calc(100% - #{$mu-header-height-md} - #{$mu-footer-height-md});
  }
  @media (max-width: $mu-sm-max) {
    min-height: calc(100% - #{$mu-header-height-md} - #{$mu-footer-height-sm});
  }
}

footer {
  @media (max-width: $mu-sm-max) {
    height: $mu-footer-height-sm;
  }
  @media (min-width: $mu-md-min) {
    height: $mu-footer-height-md;
  }
}

.mu-container {
  height: 100%;
  @media (max-width: $mu-lg-max) {
    margin: 0 $mu-gap;
    width: calc(100% - #{$mu-gap-x2});
  }
  @media (min-width: $mu-xl-min) {
    margin: 0 auto;
    max-width: calc(#{$mu-xl-min} - #{$mu-gap-x2});
  }
  &.with-offset {
    @media (max-width: $mu-sm-max) {
      margin: 0 $mu-gap;
      width: calc(100% - #{$mu-gap-x2});
    }
    @media (min-width: $mu-md-min) {
      margin: 0 auto;
      max-width: calc(#{$mu-md-min} - #{$mu-gap-x2});
    }
  }
}
