@mixin flexbox($orientation, $orientation-align, $perpendicular-align) {
  display:          flex;
  align-items:      $perpendicular-align;
  flex-wrap:        nowrap;
  flex-direction:   $orientation;
  justify-content:  $orientation-align;
}

@mixin columns($count) {
  -webkit-columns: 0 $count;
     -moz-columns: 0 $count;
          columns: 0 $count;
}
