$avatar-size: 50px;
$avatar-size-hamburguer: 30px;

body.mu-hamburguer-open {
  @media (max-width: $mu-sm-max) {
    overflow: hidden;
    main, footer {
      display: none;
    }
  }
}

header {
  nav.mu-nav {

    border-bottom: 1px solid $mu-color-separator;

    .mu-hamburguer {
      i {
        cursor: pointer;
      }
    }

    @media (min-width: $mu-md-min) {
      @include flexbox(row, flex-start, center);
      .mu-hamburguer {
        display: none;
      }
      .mu-navigation-drawer {
        @include flexbox(row, space-between, center);
        width: 100%;
        .text {
          display: none;
        }
      }
    }

    &:not(.mu-hamburguer-open) {

      @media (max-width: $mu-sm-max) {
        @include flexbox(row, flex-start, center);
        .mu-navigation-drawer {
          display: none;
        }
      }

    }

    &.mu-hamburguer-open {

      @media (max-width: $mu-sm-max) {
        @include flexbox(column, center, flex-start);
        position: relative;

        .mu-hamburguer {
          @include flexbox(column, center, flex-start);
          position: absolute;
          top: 0;
          height: $mu-header-height-md;
        }

        .mu-navigation-drawer {
          @include flexbox(column, flex-start, flex-start);
          position: absolute;
          top: $mu-header-height-md;
          height: 100vw;
          width: 100%;

          ul {
            width: 100%;
            li {
              @include flexbox(row, flex-start, center);
              width: 100%;
              &:not(.brand) {
                height: 55px;
              }
              &:hover {
                background-color: $mu-color-primary;
                * {
                  filter: brightness(100);
                }
              }
              a {
                width: 100%;
              }
            }
          }

          i, img {
            margin: auto $mu-gap-d3;
          }

          .mu-breadcrumb,
          .mu-profile {
            @include flexbox(column, flex-start, flex-start);
            width: 100%;
          }
          .mu-breadcrumb {
            padding-top: $mu-gap-d2;
            padding-bottom: $mu-gap-d2;
            margin-bottom: $mu-gap-d2;
            border-bottom: 1px solid $mu-color-separator;
            .brand {
              font-size: 30px;
              a {
                position: relative;
                span {
                  font-size: 28px;
                  position: absolute;
                }
              }
            }
            .item {
              &:before {
                content:  '-';
                margin: 0 20px 0 (10px + $mu-gap-d2);
              }
            }
          }
          .mu-profile {
            li {
              margin-left: 0;
              &.notifications {
                i {
                  width: $avatar-size-hamburguer;
                  padding-left: $mu-gap-d3;
                  &:before {
                    margin: auto;
                  }
                }
              }
              &.avatar {
                img {
                  object-fit: cover;
                  border-radius: 50%;
                  width: $avatar-size-hamburguer;
                  height: $avatar-size-hamburguer;
                }
              }
            }
          }
        }
      }

    }
  }
}
