footer {
  nav.mu-nav {
    @media (max-width: $mu-max-sd) {
      @include flexbox(column, space-around, center);
    }
    @media (min-width: $mu-min-hd) {
      @include flexbox(row, space-between, center);
    }

    padding: $mu-gap 0;

    overflow-x: hidden;

    border-top: 1px solid $mu-color-separator;
  }
}
