/* See https://github.com/jneen/rouge/wiki/List-of-tokens */

$mu-color-highlight-background: #F0F0F5;

$mu-color-highlight-identifier: black;
$mu-color-highlight-keyword: $mu-color-info;
$mu-color-highlight-literal: #369434;
$mu-color-highlight-operator: $mu-color-complementary;
$mu-color-highlight-comment: grey;
$mu-color-highlight-punctuation: black;
$mu-color-highlight-text-whitespace: #BBBBBB;
$mu-color-highlight-string-interpolation: #D01040;

.markdown {

  blockquote {
    border-radius: 4px;
    background-color: $brand-info-light;
    border-left: 8px solid $brand-info;
    font-size: $mu-font-size - 1px;
    margin: 10px 0;
  }

  pre, code {
    background-color: $mu-color-highlight-background;
    font-size: $mu-font-size - 2px;
    line-height: $mu-line-height - 0.3;
  }

  .mu-highlight-identifier,
  .na, .nb, .nc, .no, .nd, .ni, .bp, .vc, .vg, .vi, .nx, .nv,
  .nn, .nt,
  .ace_function,
  .ace_variable,
  .ace_parameter,
  .ace_identifier,
  .ne,
  .nf,
  .nl {
    color: $mu-color-highlight-identifier !important;
  }

  .mu-highlight-keyword,
  .k, .kn, .kp, .kr, .kt, .kd, .ace_keyword, .ace_type {
    color: $mu-color-highlight-keyword !important;
    font-weight: bold !important;
  }

  .mu-highlight-literal,
  .m, .mf, .mh, .mi, .mo,
  .s, .sb, .sc, .sd, .s2, .se, .sh, .sx, .sr, .s1, .ss,
  .kc,
  .il,
  .l,
  .ace_boolean, .ace_numeric,
  .ace_string, .ace_symbol,
  .ace_hexadecimal, .ace_character,
  .ace_decimal {
    color: $mu-color-highlight-literal !important;
  }

  .mu-highlight-operator,
  .ow, .o,
  .ace_operator,
  .ace_meta.ace_rule.ace_definition.ace_prolog {
    color: $mu-color-highlight-operator !important;
    font-weight: bold !important;
  }

  .mu-highlight-comment,
  .ace_comment, .c, .cm, .cp, .c1, .cs {
    color: $mu-color-highlight-comment !important;
  }

  .mu-highlight-punctuation,
  .ace_punctuation,
  .ace_paren,
  .p,
  .ace_keyword.ace_operator.ace_definition.ace_prolog,
  pre code {
    color: black !important;
    font-weight: normal !important;
  }

  $mu-color-highlight-prolog-variables: $mu-color-info;
  $mu-color-highlight-prolog-atoms: $mu-color-primary;

  .mu-highlight-prolog-variables,
  .ace_variable.ace_prolog,
  .prolog .nv {
    color: $mu-color-highlight-prolog-variables !important;
    font-weight: normal !important;
  }

  .mu-highlight-prolog-atoms,
  .ace_name.ace_prolog,
  .ace_atom.ace_prolog,
  .prolog .ss {
    color: $mu-color-highlight-prolog-atoms !important;
    font-weight: normal !important;
  }

  .mu-highlight-text-whitespace,
  .w {
    color: $mu-color-highlight-text-whitespace;
  }

  .mu-highlight-string-interpolation,
  .si {
    color: $mu-color-highlight-string-interpolation;
  }

}
