.mu-chapter {

  .header {
    @include flexbox(column, flex-start, flex-start);

    width: 100%;

    h1 {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    img {
      max-height: 75px;
      max-width: 100%;
    }
    .description {
      p {
        text-align: justify;
      }
    }
  }

  .content {

    ul.mu-lessons {
      @include flexbox(column, flex-start, flex-start);
      width: 100%;
      list-style-type: none;
      padding: 0;

      li.item {
        width: 100%;
        float: left;

        ul.mu-exercises {
          @media (min-width: $mu-min-hd) { @include columns(3) }
          @media (max-width: $mu-max-sd) { @include columns(2) }
          @media (max-width: $mu-max-xd) { @include columns(1) }

          width: 100%;
          padding-left: $mu-gap-x3;

          li {
            width: 100%;
            float: none;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .appendix {
    margin-top: $mu-gap-x2;
  }
}
