.mu-lesson {

  .header {
    @include flexbox(column, flex-start, flex-start);

    width: 100%;

    h1 {
      @include flexbox(row, space-between, center);

      width: 100%;
      margin-bottom: $mu-gap;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      i {
        margin-left: $mu-gap;
      }
    }
    .description {
      width: 100%;
      p {
        text-align: justify;
      }
    }
    a {
      align-self: center;
    }

    padding-bottom: $mu-gap;
  }

  .content {

    ul.mu-exercises {
      @media (min-width: $mu-md-min) { @include columns(3) }
      @media (max-width: $mu-sm-max) { @include columns(2) }
      @media (max-width: $mu-xs-max) { @include columns(1) }

      list-style-type: none;
      padding: 0;
      width: 100%;
      padding-left: $mu-gap-x3;

      li {
        width: 100%;
        float: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .appendix {
    margin-top: $mu-gap-x2;
  }
}
