section.mu-container.with-offset.mu-book

  .header
    img(src='//mumuki.io/logo-alt-large.png')
    h2 Aprendé a programar
    h3: small por #[i.da.da-mumuki-circle] mumuki

    .description
      p ¿Alguna vez te sucedió estar haciendo una tarea tediosa y repetitiva? ¿Te descubriste a vos mismo cometiendo errores por cansancio o distracción? ¿Te diste cuenta que estabas perdiendo tiempo valioso en cosas que... podría hacer una máquina?
      p Tenemos una buena noticia para vos: ¡la programación puede ayudarte! Programar se trata de usar nuestra creatividad e ingenio para resolver problemas y automatizar tareas con la ayuda de una computadora.
      p Y por si fuera poco, aprender a programar es fácil y entretenido. ¡Acompañanos!

    a.btn.btn-success(href='/chapters/Fundamentos.html', role='button') ¡Seguí aprendiendo!

  .content

    h2 Contenido

    ul.mu-chapters

      li.item
        h3 Capítulo1: #[a(href='/chapters/Fundamentos.html') Fundamentos]
        p ¿Nunca programaste antes? Aprendé los fundamentos de la programación utilizando #[a(href='http://gobstones.org') Gobstones], un #[strong innovador lenguaje gráfico] en el que utilizás un tablero con bolitas para resolver problemas.

      li.item
        h3 Capítulo 2: #[a(href='/chapters/Fundamentos.html') Programación Imperativa]
        p ¿Ya estás para salir del tablero? ¡Acompañanos a aprender más sobre #[strong programación imperativa y estructuras de datos] de la mano del lenguaje #[a(href='https://es.wikipedia.org/wiki/JavaScript') JavaScript]!

      li.item
        h3 Capítulo 3: #[a(href='/chapters/Fundamentos.html') Programación Funcional]
        p El paradigma funcional es de los más #[strong antiguos], pero también de los más #[strong simples] y #[strong poderosos]. Si querés aprender #[em a dominar el mundo con nada], utilizando el lenguaje #[a(href='https://www.haskell.org/') Haskell], seguí por acá.

      li.item
        h3 Capítulo 4: #[a(href='/chapters/Fundamentos.html') Programación Lógica]
        p ¿Querés aprender a programar #[em describiendo el mundo] y #[em enseñando reglas] a la computadora? ¿Querés escribir código que cualquiera puede entender? Entonces acompañanos a aprender sobre el paradigma lógico, utilizando su lenguaje más conocido: #[a(href='http://www.swi-prolog.org/') Prolog].

      li.item
        h3 Capítulo 5: #[a(href='/chapters/Fundamentos.html') Programación con Objetos]
        p El paradigma de objetos, a veces también conocido como #[em orientado a objetos] nos propone solucionar problemas y modelar nuestra realidad empleando objetos que se comunican entre ellos intercambiando mensajes. ¡Adentrémonos en el mundo de los objetos y #[a(href='https://www.ruby-lang.org/es/') Ruby]!

      li.item
        h3 Capítulo 6: #[a(href='/chapters/Fundamentos.html') Metaprogramación]
        p Cuando programamos, estamos razonando el mundo que nos rodea: yerba mate, videojuegos, contabilidad, cultivos. Pero también podríamos #[strong razonar sobre programas], para analizarlos, modificarlos o crearlos ¡Descubramos la metaprogramación, de la mano del lenguaje #[a(href='https://www.ruby-lang.org/es/') Ruby]!
