$mu-file-browser-border: 2px solid $mu-color-dark-separator;

.mu-browser {
  width: 100%;
  position: relative;
  header {
    margin: 15px;
    margin-bottom: 0;
    padding: 15px;
    border: $mu-file-browser-border;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: $mu-color-separator;
    @include display-flex(row nowrap, flex-start, center);
    i {
      cursor: pointer;
      font-size: 25px;
      margin-right: 10px;
      @extend .fa ;
      @extend .fa-fw;
      @extend .fa-arrow-circle-left;
    }
    input {
      border: 1px solid $mu-color-dark-separator;
      padding: 0 10px;
      height: 30px;
      border-radius: 10px;
      width: 100%;
      &:focus { outline: none }
    }
  }
  main {
    border: $mu-file-browser-border;
    border-top: none;
    margin: 15px;
    margin-top: 0;
    iframe {
      height: 500px;
      min-height: 500px;
      border: none;
    }
  }
}
