.mu-browser {
  iframe {
    margin: 0;
    width: 100%;
  }
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
  padding: 5px;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 0.5em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #9b3;
    box-shadow: 0 0 0 2px #9b3;
  }

  &:after {
    display: block;
    position: absolute;
    font-family: 'DejaVu Sans', 'Liberation Sans', sans-serif;
    content: 'http://mi-sitio.com';
    top: -1.8em;
    left: 1.5em;
    padding: 0 0.2em 1.4em;
    width: calc(100% - 2.2em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
    font-size: 0.9em;
  }

  & > * {
    display: block;
    margin: 2em;
  }
}
