$font-size-base: 1.0625rem;
$line-height-base: 1.8;
$mu-fonts: (ahahamojimoji, mu-font);
$mu-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  font-family: $mu-font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
}
