a.text-info:hover {
  color: $mu-color-info;
}
a.text-warning:hover {
  color: $mu-color-warning;
}
a.text-danger:hover {
  color: $mu-color-danger;
}
a.text-success:hover {
  color: $mu-color-success;
}
a.text-broken:hover {
  color: $mu-color-broken;
}
