$breadcrumb-separator-gap: 8px;

$avatar-size: 40px;

.mu-navbar {
  > div .mu-navbar-breadcrumb-container {
    min-width: 0;
  }

  .mu-navbar-breadcrumb {

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    @include display-flex(row, flex-start, center);

    margin: 0;
    padding: 0;

    overflow: hidden;
    white-space: nowrap;

    .mu-breadcrumb-list {

      @include display-flex(row, flex-start, center);

      @include media-breakpoint-down(lg) {
        @include display-flex(column, flex-start, flex-start);
      }

      overflow: hidden;

      .mu-breadcrumb-list-item {
        @include media-breakpoint-up(lg) {
          &:before {
            content: '/';
            margin: 0 $breadcrumb-separator-gap;
            color: $mu-color-disabled;
          }
        }

        &.brand {
          padding-top: 2px;
          padding-left: 3px;
          font-size: 38px;

          @include media-breakpoint-down(lg) {
            margin-bottom: -10px;
          }

          &:before {
            content: '';
            margin: 0;
          }
          a {
            color: $mu-color-primary;
            &:active { color: darken($mu-color-primary, 10%) }
            &:hover {
              color: darken($mu-color-primary, 5%);
              text-decoration: none;
            }
          }
        }
        &.last {
          @extend .mu-disabled;
          a { color: $mu-color-disabled }

          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .mu-navbar-avatar {
    @include display-flex;

    flex-shrink: 0;

    .notifications-box {
      .badge-notifications {
        position: absolute;
        right: 4px;
        font-size: .55em;
        width: inherit;
        padding: 2px 4px;
        text-align: right;
        top: 2px;
        background-color: $mu-color-complementary;
        border: 1px solid #FFF;
        border-radius: 50%;
      }
    }

    .profile-dropdown {
      cursor: pointer;
    }

    img {
      &.mu-profile-avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }

        &:focus {
          outline: none;
          opacity: 0.5;
        }
      }
    }
  }

  .mu-navbar-element {
    margin-left: 20px;
  }

  .mu-navbar-icon {
    color: $mu-color-primary;
    vertical-align: middle;
  }

  .mu-level-number {
    position: absolute;
    margin-left: -43px;
    margin-top: 8px;
    width: 43px;

    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
    color: white;

    user-select: none;
    pointer-events: none;
  }

  &.mu-inverted {
    .profile-dropdown img {
      box-shadow: 0 0 0 2px white;
    }

    .caret, .mu-navbar-icon {
      color: white;
    }

    .mu-level-number {
      color: $mu-color-primary;
    }
  }
}

.da-mumuki {
  text-decoration: none;
}
