.pointer {
  cursor: pointer;
}

.mu-disabled {
  color: $mu-color-disabled;
  pointer-events: none;
}

.divider-vertical {
  padding: 14px 0;
  margin: 0 14px;
  border-left: 1px solid $mu-color-separator;
}
