extends ../../index

block breadcrumb
  ul.mu-breadcrumb
    li.brand: a(href='/')
      i.da.da-mumuki-circle
      span mumuki
    li.item: a(href='/chapters/Fundamentos.html') Fundamentos
    li.item: a(href='/lessons/Expresiones.html') 8. Expresiones


block content
  section.mu-container

    .mu-lesson

      .header

        h1
          span Expresiones
          i.da.da-gobstones

        .description
          p ¿Se pueden hacer programas que #[strong sumen] cosas? #[img.emoji(src='/assets/emojis/heavy_plus_sign.png' height='20', width='20')] #[br] ¿Y dibujar figuras en distintas #[strong direcciones] sin tener que especificar cada una de ellas? #[img.emoji(src='/assets/emojis/arrow_left.png' height='20' width='20')] #[img.emoji(src='/assets/emojis/arrow_right.png' height='20' width='20')] #[br] ¿Y #[strong mirar] lo que hay en el tablero? #[img.emoji(src='/assets/emojis/mag.png' height='20' width='20')]
          p Todo eso y (no) mucho más en esta nueva entrega de #[em "aprendiendo a programar con bolitas de colores"]. ¡Arrancamos!

        a.btn.btn-success(href='/chapters/Fundamentos.html', role='button') ¡Comenzá esta lección!

      .content

        h3 Contenido

        ul.mu-exercises
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 1. El Tablero
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed-with-warnings] 2. El Cabezal
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.failed] 3. Movimientos
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.errored] 4. Movimientos 2
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.pending] 5. Movimientos 3
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 6. El orden de las cosas
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed-with-warnings] 7. Sí, esto también se puede romper
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.failed] 8. Bolitas
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.errored] 9. Bolitas 2
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.pending] 10. Bolitas 3
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 11. Sacar Bolitas
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 12. Cuando no hay bolitas
          li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 13. Limpiar celda
