$mu-color-sql-table-title: darken($mu-color-component-title-background, 5%);
$mu-sql-table-max-lines: 3;

.mu-sql-table,
.mu-sql-table-rendered {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  z-index: 1;
  border: $mu-component-border;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  header {
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    border-bottom: $mu-component-border;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: $mu-color-sql-table-title;
    margin: 0;
  }

  table {
    width: 100%;
    table-layout: fixed;
    thead,
    tbody {
      width: 100%;
      margin: 0;
      tr {
        width: 100%;
        margin: 0;
        background-color: white;
        border-bottom: 1px dashed $mu-color-component-border;
        &:last-child { border-bottom: none }
        td,
        th {
          text-align: center;
          padding: 5px 10px;
          span { margin-left: 5px }
          .mu-sql-table-pk,
          .mu-sql-table-fk { font-size: 75% };
          .mu-sql-table-pk { color: rgb(196, 173, 44) }
          .mu-sql-table-fk { color: rgb(184, 184, 184) }
          border-right: 1px dashed $mu-color-component-border;
          &:last-child { border-right: none }
        }
        th {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        td {
          span {
            display: block;
            display: -webkit-box;
            max-width: 400px;
            max-height: $font-size-base * $line-height-base * $mu-sql-table-max-lines;
            font-size: $font-size-base;
            line-height: $line-height-base;
            -webkit-line-clamp: $mu-sql-table-max-lines;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    thead {
      border-bottom: $mu-component-border;
      tr {
        background-color: $mu-color-component-title-background;
      }
    }
  }
}
