$statuses: (
  failed: $danger,
  passed: $success
);

.mu-multiple-scenarios {
  display: flex;
  flex-direction: column;
  .mu-scenarios {
    position: relative;
    flex-grow: 9;
    min-height: 90%;
    height: 100%;
    overflow: hidden;

    a.mu-scenario-control {
      position: absolute;
      top: 0;
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 15%;
      text-align: center;
      opacity: 0.8;
      color: $primary;
      text-decoration: none;

      i {
        cursor: pointer;
        padding: 15px;
      }

      &.previous {
        left: 0;
      }

      &.next {
        right: 0;
      }
    }
  }

  .indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-bottom: 0;
    li {
      position: relative;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      margin: 10px 5px;
      opacity: 0.5;
      color: $primary;
      cursor: pointer;
      &.jump {
        -webkit-animation: jump 1s ease-in-out infinite alternate;
        -moz-animation: jump 1s ease-in-out infinite alternate;
        animation: jump 1s ease-in-out infinite alternate;
      }
    }

    & > li:only-child {
      display: none;
    }

    li.active {
      opacity: 1;
    }

    @keyframes jump {
      0% {
        transform: none;
      }
      50% {
        transform: translateY(-0.5em);
      }
    }

    @each $status, $color in $statuses {
      .#{$status} {
        color: $color;
      }
    }
  }
  .mu-scenario {
    &:not(.active) {
      display: none !important;
    }
  }

}
