.notifications-box-empty {
  display: none;
}

.badge-notifications {
  position: absolute;
  right: 57px;
  font-size: 0.55em;
  width: inherit;
  padding: 2px 4px;
  text-align: right;
  top: 6px;
  background-color: $complementary;
  border: 1px solid white;
}
