extends ../../index

block breadcrumb
  ul.mu-breadcrumb
    li.brand: a(href='/')
      i.da.da-mumuki-circle
      span mumuki
    li.item: a(href='/chapters/Fundamentos') Fundamentos


block content
  section.mu-container

    .mu-chapter

      .header

        h1 #[span.mu-hide-sd Capítulo 1:] Fundamentos

        .description.markdown
          p ¿Nunca programaste antes? Aprendé los fundamentos de la programación utilizando #[a(href='http://gobstones.org') Gobstones], un #[strong innovador lenguaje gráfico] en el que utilizás un tablero con bolitas para resolver problemas.

      .content

        h3 Contenido

        ul.mu-lessons

          li.item
            h4 #[span.mu-hide-sd Lección 1:] #[a(href='/lessons/Expresiones.html') Expresiones]
            ul.mu-exercises
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 1. El Tablero
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed-with-warnings] 2. El Cabezal
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.failed] 3. Movimientos
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.errored] 4. Movimientos 2
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.pending] 5. Movimientos 3
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 6. El orden de las cosas
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed-with-warnings] 7. Sí, esto también se puede romper
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.failed] 8. Bolitas
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.errored] 9. Bolitas 2
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.pending] 10. Bolitas 3
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 11. Sacar Bolitas
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 12. Cuando no hay bolitas
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 13. Limpiar celda

          li.item
            h4 #[span.mu-hide-sd Lección 2:] #[a(href='/lessons/Expresiones.html') Primero Programas]
            ul.mu-exercises
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 1. El Tablero
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed-with-warnings] 2. El Cabezal
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.failed] 3. Movimientos
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.errored] 4. Movimientos 2
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.pending] 5. Movimientos 3
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 6. El orden de las cosas
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed-with-warnings] 7. Sí, esto también se puede romper
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.failed] 8. Bolitas
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.errored] 9. Bolitas 2
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.pending] 10. Bolitas 3
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 11. Sacar Bolitas
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 12. Cuando no hay bolitas
              li: a(href='/exercises/Bolitas.html'): span #[i.mu-status-icon.passed] 13. Limpiar celda

      .appendix

        h3 Apéndice
        p ¿Querés saber más? #[a Consultá el apéndice de este capítulo].
